<!DOCTYPE html>
{% load i18n compress cache menu %}

<html lang="{{LANGUAGE_CODE}}">

<head>
    <meta name="robots" content="{% block robot %}index, follow{% endblock %}" />
    <meta name="description" content="{% block description %}constriciont.com{% endblock %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{%block pagetitle %}constriction.com{% endblock %}</title>

    {% for lang in LANGUAGES %}
    {% with lang.0 as lang_code %}
    <link rel="alternate" hreflang="{{ lang_code }}" href="/{{ lang_code }}" title="{{ lang.1 }}" />
    {% endwith %}
    {% endfor %}

    <link rel="icon" type="image/png" href="{{ STATIC_URL }}img/favicon.png">

    {% cache 600 base_static %}
    {% compress css %}
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet" />
    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet" />
    {% endcompress %}

    {% compress js %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/popper.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/main.js"></script>
    {% endcompress %}
    {% endcache %}

    {% compress js %}
    {% block specific_js %}{% endblock specific_js %}
    {% endcompress %}

    {% compress css %}
    {% block specific_css %}{% endblock specific_css %}
    {% endcompress %}


    {% block extrahead %}
    {{ form.media }}
    {% endblock %}
</head>

<body {% block bodyclass %}{% endblock %}>
    <div class="container">
        <div class="row">
            <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">
                    <img src="https://picsum.photos/g/75/75/?blur" width="75" height="75" class="d-inline-block align-top" alt="">
                    <h1>Constriction</h1>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu"
                    aria-controls="navbar-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item {% active 'home' %}">
                            <a class="nav-link" href="#">{% trans "Home" %}</a>
                        </li>
                        <li class="nav-item {% active 'investments' %}">
                            <a class="nav-link" href="#">{% trans "Investiments" %}</a>
                        </li>
                        <li class="nav-item {% active 'about-us' %}">
                            <a class="nav-link" href="#">{% trans "About Us" %}</a>
                        </li>
                        <li class="nav-item {% active 'contacts' %}">
                            <a class="nav-link" href="#">{% trans "Contacts" %}</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    {% block content %}{% endblock %}
</body>

</html>