<!DOCTYPE html>
{% load i18n compress cache %}

<html lang="{{LANGUAGE_CODE}}">

<head>
    <meta name="robots" content="{% block robot %}index, follow{% endblock %}" />
    <meta name="description" content="{% block description %}bagnialmare.com{% endblock %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{%block pagetitle %}bagnialmare.com{% endblock %}</title>

    {% for lang in LANGUAGES %}
    {% with lang.0 as lang_code %}
    <link rel="alternate" hreflang="{{ lang_code }}" href="/{{ lang_code }}" title="{{ lang.1 }}" />
    {% endwith %}
    {% endfor %}

    <link rel="icon" type="image/png" href="{{ STATIC_URL }}img/favicon.png">

    {% cache 600 base_static %}
    {% compress css %}
    <!--link href="{{ STATIC_URL }}css/fonts.css" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet" />
    <link href="{{ STATIC_URL }}css/jquery-ui-1.10.4.css" rel="stylesheet" />
    <link href="{{ STATIC_URL }}css/leaflet.css" rel="stylesheet" />
    <link href="{{ STATIC_URL }}css/cookiecuttr.css" rel="stylesheet" />
    <link href="{{ STATIC_URL }}css/bagni.css" rel="stylesheet" /-->
    {% endcompress %}

    {% compress js %}
    <!--script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.10.4.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/leaflet.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.cookie.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.cookiecuttr.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bagnialmare_lib.js"></script-->
    {% endcompress %}
    {% endcache %}

    {% compress js %}
    {% block specific_js %}{% endblock specific_js %}
    {% endcompress %}

    {% compress css %}
    {% block specific_css %}{% endblock specific_css %}
    {% endcompress %}


    {% block extrahead %}
    {{ form.media }}
    {% endblock %}
</head>

<body {% block bodyclass %}{% endblock %}>
    {% block content %}{% endblock %}
</body>

</html>